.header-text{
    float: left;
    font-size: 50px;
}
body{
    font-family: 'Julius Sans One', sans-serif;
}
.footerTextCrntered{
    text-align: center;
}
footer{
    background-color: gray !important;
}
.centered{
    display: flex;
    justify-content: center;
}

.body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
  }
.niceFont{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    margin-left: 5px;
}
.containerPal{
   margin-left: 50px;
   margin-right: 50px;
}
.link{
  text-align: center;
  color: black !important;
}
.train{
  display: flex;
  justify-content: center;
  text-align: center;
}

/*////////////////////////////////////////////////*/

@media only screen and (max-width: 980px) {
    .container{
      width: 600px;
    }

  header {
    width: 100%
  }
  }

  @media only screen and (max-width: 768px) {
    .container{
      width: 400px;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .container{
      width: 100%;
      
    }
  
 
}
